# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarized.

**Objectives:**

* Popular languages for Data Science
* Commonly Used Libraries by Data Scientist
* Data Science tools
* Arithmetic Expressions in Python
* Simple Time conversion in python

## Author
Toluwalope Temenu

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Javascript

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. Matplotlib
4. Scikit
5. Tensorflow

|Data Science Tools|
---
|Aparche Spark|
|TensorFlow|
|Git|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [2]:
200/60
#This will convert 200 minutes to hours by diving by 60

3.3333333333333335